.menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.menuContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1.5rem 0;
    gap: 0.75rem;
    background-color: rgba(38, 39, 40, 0.8);
    border-radius: 10px;
}

.menuContainer > div:hover {
    cursor: pointer;
    background-color: rgba(72,72,72, 0.8);
    transition: 0.3s;
}

img {
    width: 300px;
    height: 200px;
    opacity: 1;
}

h2 {
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-align: center;
}