body {
    width: 100vw;
    height: 100vh;
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    overflow: scroll;
}

header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 8px;
    padding: 2rem 0;
    background-color: #242526;
    opacity: 0.8;
}

.logo {
    font-family: 'Babylonica', cursive;
    font-weight: bold;
    font-size: 6rem;
    color: white;
    opacity: 1;
    margin: 0;

}

button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
    font-family: Montserrat, sans-serif;
}


#content {
    padding: 2rem;
    margin: 32px auto;
    background-color: rgba(36, 37, 38, 0.6);
    color: white;
    width: clamp(200px, 800px, 1000px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h3 {
    margin: 0;
    text-align: center;
    padding: 8px;
}
button:hover {
    cursor: pointer;
}

button {
    padding: 8px;
    margin-right: 16px;
}

.opening-hours {
    margin-top: 28px;
    border-top: 1px solid whitesmoke;
}